.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 4vmin);
  font-weight: bold;
  color: white;
  background-image: url("header-bg.jpeg");
  background-size: cover;
  background-repeat: repeat-x;
}

.App-header-text {
  font-size: calc(12px);
  font-weight: normal;
}

.App-header-link a:link, .App-header-link a:visited, .App-header-link a:hover, .App-header-link a:active {
  font-size: calc(12px);
  font-weight: normal;
  font-style: italic;
  color: white;
}
